[submodule "third_party/ascon-c"]
	path = third_party/ascon-c
	url = https://github.com/ascon/ascon-c.git
[submodule "external/nist-sp800-90b"]
	path = external/nist-sp800-90b
	url = https://github.com/usnistgov/SP800-90B_EntropyAssessment.git
